@media (max-width: 868px) {
  .profile-img,
  .left,
  .content,
  .dotted-frame,
  .footer,
  .career-left,
  .career-content h1,
  .group-4,
  .about-right,
  .follow,
  .slider-content p,
  .slider-button {
    display: none;
  }
  .navbar ul {
    list-style: none;
  }
  .right {
    background-color: white;
  }
  .menu {
    display: block;
    color: rgb(198, 185, 185);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 11rem;
    margin-top: 2rem;
    cursor: pointer;
  }
  #nav-links {
    flex-direction: column;
    background-color: #ea0001;
    color: white;
    position: absolute;
    top: 80px;
    left: 15px;
    right: 15px;
    padding: 20px;
    width: calc(100% - 20px);
    height: auto;
    display: none;
    border-radius: 10px;
    z-index: 101;
    text-align: center;
  }

  #nav-links.show {
    display: flex;
  }
  #nav-links li:not(:last-child) {
    display: none;
  }

  #nav-links.show li {
    display: block;
    text-align: center;
    padding: 10px 0;
  }

  .bg-text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #ea0001bf;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 65px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    width: 226px;
    height: 110px;
    text-align: center;
  }
  .mobile-about {
    display: block;
  }
  .mobile-hero-sign {
    position: relative;
  }
  .mobile-sign {
    position: absolute;
    top: 59rem;
    left: 19rem;
  }
  .mobile-hero {
    position: relative;
  }
  .mobile-img {
    position: absolute;
    top: -26rem;
    left: 80px;
  }

  .mobile-hero-frame {
    margin-top: 15rem;
    margin-left: 8rem;
  }

  .about {
    flex-direction: column-reverse;
    width: 90%;
    height: auto;
    padding: 20px 0;
    gap: 20px;
  }
  .career {
    align-items: center;
    justify-content: center;
    margin: 3rem auto 0 auto;
    width: 90%;
    padding: 0 1rem;
    overflow-x: hidden;
  }
  .career-content {
    margin-left: 0;
    margin-right: 10rem;
  }
  .career-date {
    margin-right: 0;
    align-items: center;
  }
  .career-date :nth-child(2) {
    margin-left: 0;
    margin-bottom: 14rem;
  }

  .slider {
    flex-direction: column;
    height: auto;
    padding: 2rem 1rem;
  }
  .slider-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider-left {
    align-items: center;
    padding: 20px;
    gap: 30px;
  }

  .slider-left img {
    max-width: 300px;
    object-fit: contain;
  }

  .slider-content h1 {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: start;
    margin-top: 2rem;
  }

  .slider-content h6 {
    font-size: 14px;
    height: auto;
    text-align: start;
    width: 344px;
    margin-top: 3rem;
  }

  .slider-right {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  .slider-right img {
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: contain;
    margin: 0;
  }

  .slider-button {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-top: 2rem;
  }

  .slide-count {
    justify-content: center;
  }

  .slide-count span {
    width: 20px;
    margin-top: 0.5rem;
  }

  .slide-count h4 {
    font-size: 14px;
  }

  .slider-mobile-button {
    display: block;
    margin-top: 2rem;
  }
  .slide {
    display: flex;
    gap: 180px;
    align-items: center;
  }
  .slider-mobile-button button {
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 20%;
    cursor: pointer;
  }
  .slider-mobile-button span {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 20%;
    color: #ffffff;
  }
  .slide-count {
    display: flex;
    gap: 10px;
  }
  .slide-count span {
    width: 31px;
    height: 0px;
    border-width: 1px;
    color: #ffffff;
    border: 1px solid #ffffff;
    margin-top: 2rem;
  }
  .slide-count h4 {
    color: #ffffff;
  }
}

@media (max-width: 550px) {
  .profile-img,
  .left,
  .content,
  .dotted-frame,
  .footer,
  .career-left,
  .career-content h1,
  .group-4,
  .about-right,
  .follow,
  .slider-content p {
    display: none;
  }

  .navbar ul {
    list-style: none;
    padding: 0;
  }

  .right {
    background-color: white;
  }

  .menu {
    display: flex;
    color: rgb(198, 185, 185);
    font-size: 24px;
    justify-content: flex-end;
    margin: 1rem;
    cursor: pointer;
  }

  #nav-links {
    flex-direction: column;
    background-color: #ea0001;
    color: white;
    position: absolute;
    top: 70px;
    left: -150px;
    right: 100px;
    padding: 10px 80px;
    width: 100%;
    height: auto;
    display: none;
    border-radius: 8px;
    z-index: 101;
    text-align: center;
  }

  #nav-links.show {
    display: flex;
  }

  #nav-links li:not(:last-child) {
    display: none;
  }

  #nav-links.show li {
    display: block;
    padding: 8px 0;
  }

  .bg-text {
    top: 20%;
    font-size: 2rem;
    width: 180px;
    height: auto;
    line-height: 45px;
    letter-spacing: 2px;
  }

  .mobile-about {
    display: block;
    padding: 1rem;
  }

  .mobile-hero-sign {
    position: relative;
  }

  .mobile-sign {
    position: absolute;
    top: 53rem;
    left: 15rem;
  }

  .mobile-hero {
    position: relative;
  }

  .mobile-img {
    position: absolute;
    top: -31.5rem;
    left: 40px;
    width: 80%;
  }

  .mobile-hero-frame {
    margin-top: 10rem;
    margin-left: 3rem;
  }

  .about {
    flex-direction: column-reverse;
    width: 95%;
    padding: 15px 0;
    gap: 15px;
  }
  .about-left {
    gap: 20px;
  }

  .career {
    align-items: center;
    justify-content: center;
    margin: 2rem auto 0 auto;
    width: 95%;
    padding: 0 1rem;
    overflow-x: hidden;
  }

  .career-content {
    margin: 0;
    padding: 0;
  }
  .career-content h2,
  .career-content p {
    margin-left: 1.5rem;
  }

  .career-date {
    margin-right: 0;
    align-items: center;
    flex-direction: column;
  }

  .career-date :nth-child(2) {
    margin-left: 0;
    margin-bottom: 10rem;
  }

  .slider {
    flex-direction: column;
    padding: 1.5rem 1rem;
    margin-top: 1rem;
    width: 95%;
    height: auto;
    overflow-x: hidden;
  }
  .slider-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider-left {
    gap: 40px;
    padding: 1rem;
    align-items: center;
  }

  .slider-content h1 {
    font-size: 18px;
    width: 100%;
  }

  .slider-content h6 {
    font-size: 13px;
    width: 300px;
  }

  .slider-right {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 1rem;
  }

  .slider-right img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1rem;
    display: block;
  }

  .slider-button {
    flex-direction: column;
    gap: 0rem;
    margin-top: 1.5rem;
    display: none;
  }
}

@media (max-width: 418px) {
  .profile-img,
  .left,
  .content,
  .dotted-frame,
  .footer,
  .career-left,
  .career-content h1,
  .group-4,
  .about-right,
  .follow,
  .slider-content p {
    display: none;
  }

  .navbar ul {
    list-style: none;
    padding: 0;
  }

  .right {
    background-color: white;
  }

  .menu {
    display: flex;
    color: rgb(198, 185, 185);
    font-size: 24px;
    justify-content: flex-end;
    margin: 1rem;
    cursor: pointer;
  }

  #nav-links {
    flex-direction: column;
    background-color: #ea0001;
    color: white;
    position: absolute;
    top: 70px;
    left: -150px;
    right: 100px;
    padding: 10px 80px;
    width: 100%;
    height: auto;
    display: none;
    border-radius: 8px;
    z-index: 101;
    text-align: center;
  }

  #nav-links.show {
    display: flex;
  }

  #nav-links li:not(:last-child) {
    display: none;
  }

  #nav-links.show li {
    display: block;
    padding: 8px 0;
  }

  .bg-text {
    top: 20%;
    font-size: 2rem;
    width: 180px;
    height: auto;
    line-height: 45px;
    letter-spacing: 2px;
  }

  .mobile-about {
    display: block;
    padding: 1rem;
  }

  .mobile-hero-sign {
    position: relative;
  }

  .mobile-sign {
    position: absolute;
    top: 53rem;
    left: 15rem;
  }

  .mobile-hero {
    position: relative;
  }

  .mobile-img {
    position: absolute;
    top: -31.5rem;
    left: 40px;
    width: 80%;
  }

  .mobile-hero-frame {
    margin-top: 10rem;
    margin-left: 3rem;
  }

  .about {
    flex-direction: column-reverse;
    width: 95%;
    padding: 15px 0;
    gap: 15px;
  }

  .about-left {
    gap: 20px;
  }

  .career {
    align-items: center;
    justify-content: center;
    margin: 2rem auto 0 auto;
    width: 95%;
    padding: 0 1rem;
    overflow-x: hidden;
  }

  .career-content {
    margin: 0;
    padding: 0;
  }

  .career-content h2,
  .career-content p {
    margin-left: 1.5rem;
  }

  .career-date {
    margin-right: 0;
    align-items: center;
    flex-direction: column;
  }

  .career-date :nth-child(2) {
    margin-left: 0;
    margin-bottom: 10rem;
  }

  .slider {
    flex-direction: column;
    padding: 1.5rem 1rem;
    margin-top: 1rem;
    width: 95%;
    height: auto;
    overflow: hidden;
  }

  .slider-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider-left {
    gap: 40px;
    padding: 1rem;
    align-items: center;
  }

  .slider-content h1 {
    font-size: 18px;
    width: 100%;
  }

  .slider-content h6 {
    font-size: 13px;
    width: 300px;
  }

  .slider-right {
    width: 70%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 1rem;
  }

  .slider-right img {
    width: 300px;
    max-width: 350px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 1rem;
    display: block;
  }
}

/* FOR LARGER SCREEN  */
@media (min-width: 1400px) and (max-width: 2480px) {
  /* General adjustments for better large screen layout */
  .hero {
    height: 760px;
  }
  .bg-text {
    font-size: 12rem;
    left: 100px;
    top: 100px;
    margin-top: 0;
  }

  .profile-img {
    width: 680px;
    right: 800px;
    height: 790px;
  }

  .content {
    margin-left: 38rem;
  }

  .content h2 {
    font-size: 28px;
    width: 520px;
  }

  .content p {
    width: 540px;
  }

  .about {
    width: 90%;
    height: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    gap: 4rem;
  }

  .about-left {
    gap: 100px;
    margin-left: 60px;
  }

  .left-content h1 {
    font-size: 2rem;
  }

  .left-content p {
    width: 300px;
    height: auto;
  }

  .follow {
    top: -50px;
    left: 1480px;
  }

  .right-img img {
    width: 430px;
    height: auto;
  }

  .signature-overlay {
    width: 70%;
    left: -100px;
  }

  .career {
    padding: 4rem;
    margin: 0;
    gap: 3rem;
  }

  .career-img img {
    width: 500px;
    height: auto;
  }

  .career-content {
    margin-left: 10rem;
  }

  .career-content h1 {
    font-size: 36px;
    width: 300px;
  }

  .career-content h2 {
    font-size: 24px;
    margin-left: 6rem;
  }

  .career-content p {
    width: 340px;
    margin-left: 6rem;
  }

  .slider {
    height: auto;
    padding: 3rem 2rem;
  }

  .slider-left {
    gap: 60px;
    padding: 4rem;
  }

  .slider-right {
    padding-right: 3rem;
  }

  .slider-right img {
    max-width: 720px;
    border-radius: 28px;
  }

  .slider-content h1 {
    font-size: 30px;
  }

  .slider-content h6,
  .slider-content p {
    width: 400px;
  }

  .footer {
    justify-content: flex-end;
    padding-right: 4rem;
    padding-bottom: 2rem;
  }

  .footer ul {
    gap: 40px;
  }
}
